<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DD4T.Model" version="2.5.0" targetFramework="net472" />
  <package id="DD4T.Templates.Base" version="2.5.0-legacy" targetFramework="net472" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="SDLWeb8-CM" version="8.1.0.1312" targetFramework="net472" />
</packages>